.preloader {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: #fff;

  &.dark {
    background: #333;
  }

  &::after {
    content: '';
    font-size: 50px;
    color: rgb(31, 172, 247);
    width: 1em;
    height: 1em;
    border-radius: 50%;

    animation-duration: 2s, 2s;
    animation-timing-function: ease, ease;
    animation-delay: 0s, 0s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, normal;
    animation-fill-mode: none, none;
    animation-play-state: running, running;
    animation-name: shadow, rotate;
  }

  @keyframes shadow {
    0% {
      box-shadow: 0px -0.83em 0px -0.4em, 0px -0.83em 0px -0.42em, 0px -0.83em 0px -0.44em, 0px -0.83em 0px -0.46em,
        0px -0.83em 0px -0.477em;
    }
    5%,
    95% {
      box-shadow: 0px -0.83em 0px -0.4em, 0px -0.83em 0px -0.42em, 0px -0.83em 0px -0.44em, 0px -0.83em 0px -0.46em,
        0px -0.83em 0px -0.477em;
    }
    10%,
    59% {
      box-shadow: 0px -0.83em 0px -0.4em, -0.087em -0.825em 0px -0.42em, -0.173em -0.812em 0px -0.44em,
        -0.256em -0.789em 0px -0.46em, -0.297em -0.775em 0px -0.477em;
    }
    20% {
      box-shadow: 0px -0.83em 0px -0.4em, -0.338em -0.758em 0px -0.42em, -0.555em -0.617em 0px -0.44em,
        -0.671em -0.488em 0px -0.46em, -0.749em -0.34em 0px -0.477em;
    }
    38% {
      box-shadow: 0px -0.83em 0px -0.4em, -0.377em -0.74em 0px -0.42em, -0.645em -0.522em 0px -0.44em,
        -0.775em -0.297em 0px -0.46em, -0.82em -0.09em 0px -0.477em;
    }
    100% {
      box-shadow: 0px -0.83em 0px -0.4em, 0px -0.83em 0px -0.42em, 0px -0.83em 0px -0.44em, 0px -0.83em 0px -0.46em,
        0px -0.83em 0px -0.477em;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
