.progress {
  position: fixed;
  top: $heigth_header_xs;
  left: 0;
  z-index: 2;
  height: 1px;
  background: rgb(31, 172, 247);
  transition: top 0.5s;

  @media (min-width: $breakpoint_lg) {
    top: $heigth_header_lg;
    height: 2px;
  }

  &.hidden {
    transition: all 1s;
    top: -100%;
  }
}
