.progress {
  position: fixed;
  top: $heigth_header_xs;
  left: 0;
  z-index: 2;
  height: 2px;
  background: rgb(31, 172, 247);

  @media (min-width: $breakpoint_lg) {
    top: $heigth_header_lg;
  }
}